[user]
	name = Casper van Beuzekom
	email = Casper.vanBeuzekom@kvernelandgroup.com

[core]
	autocrlf = true
	editor = nvim
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    paging = always
    pager = less
    dark = true
    line-numbers = true
    line-numbers-left-format = "{nm:>2}⋮"
    line-numbers-right-format = "{np:>2}│"
    hunk-header-style = 'omit'
    syntax-theme = carbon-dark
    file-style = '"#055eb5"'
    line-numbers-zero-style = '"#023469"'
    minus-style = '"#ff291a" "#4d0500"'
    minus-emph-style = '"#dfefff" bold "#b30c00"'
    line-numbers-minus-style = '"#b30c00"'
    plus-style = 'syntax "#00331f"'
    plus-emph-style = '"#dfefff" bold "#00995c"'
    line-numbers-plus-style = '"#00995c"'

[merge]
    conflictstyle = zdiff3

[log]
	abbrevCommit = true
	date = format:%Y-%m-%d %H:%M

[pretty]
	history = %C(yellow)[%h]%C(reset) %<(16,trunc)%ad %C(cyan)%an%C(reset) %C(green)%s%C(reset)

[credential "helperselector"]
	selected = manager

[credential "https://kvmech.kverneland.com"]
	provider = generic